<div class="header">
    <div class="logo">
      <img src="../../../assets/HSU1.jpg" />
    </div>
  
    <div class="user">
      <p>[User's name here]</p>
      <div class="dropdown" style="margin: auto;">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,30">
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="border: solid 1px #333;">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">About</a>
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#" style="color: red;">Logout</a>
        </div>
      </div>
      <img src="../../../assets/User.png" />
    </div>
  </div>
  
<div class="nav">
    <ul>
      <li><a href="/table" class="text">HOME</a></li>
      <li><a href="/class" class="text">CLASS</a></li>
      <li><a href="/student" class="text">STUDENT</a></li>
      <li><a href="/teacher" class="text">TEACHER</a></li>
    </ul>
</div>
  
<div class="main">
  
    <div class="left" style="display: flex; flex-direction: column;">
      <div style="margin: 30px auto 0 auto;">
        <button type="button" class="btn1 btn-lg" data-toggle="modal" data-target="#AddClass">CREATE NEW CLASS</button>
      </div>
      <div style="display: flex; flex-direction: row; flex-wrap: wrap;">

        <article class="card" style="background-image: url(../../../assets/Untitled1.png)">
          <div class="card_content">
            <p class="card_title">Lorem Ipsum</p>
            <span class="card_subtitle">Lorem ipsum dolor sit amet</span>
            <p class="card_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="btn btn-primary" href="/class-detail">Details</a>
          </div>
        </article>

        <article class="card" style="background-image: url(../../../assets/Untitled2.png)">
          <div class="card_content">
            <p class="card_title">Lorem Ipsum</p>
            <span class="card_subtitle">Lorem ipsum dolor sit amet</span>
            <p class="card_description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </article>
        <article class="card" style="background-image: url(../../../assets/Untitled3.png)">
          <div class="card_content">
            <p class="card_title">Lorem Ipsum</p>
            <span class="card_subtitle">Lorem ipsum dolor sit amet</span>
            <p class="card_description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </article>
        <article class="card" style="background-image: url(../../../assets/Untitled4.png)">
          <div class="card_content">
            <p class="card_title">Lorem Ipsum</p>
            <span class="card_subtitle">Lorem ipsum dolor sit amet</span>
            <p class="card_description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </article>
        <article class="card" style="background-image: url(../../../assets/Untitled5.png)">
          <div class="card_content">
            <p class="card_title">Lorem Ipsum</p>
            <span class="card_subtitle">Lorem ipsum dolor sit amet</span>
            <p class="card_description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </article>
        <article class="card" style="background-image: url(../../../assets/Untitled6.png)">
          <div class="card_content">
            <p class="card_title">Lorem Ipsum</p>
            <span class="card_subtitle">Lorem ipsum dolor sit amet</span>
            <p class="card_description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </article>
        <article class="card" style="background-image: url(../../../assets/Untitled7.png)">
          <div class="card_content">
            <p class="card_title">Lorem Ipsum</p>
            <span class="card_subtitle">Lorem ipsum dolor sit amet</span>
            <p class="card_description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </article>
        <article class="card" style="background-image: url(../../../assets/Untitled8.png)">
          <div class="card_content">
            <p class="card_title">Lorem Ipsum</p>
            <span class="card_subtitle">Lorem ipsum dolor sit amet</span>
            <p class="card_description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </article>
        <!-- <article class="card" style="background-image:url(../../../assets/Untitled9.png);">
            <div class="card_content">
              <p class="card_title">Lorem Ipsum</p>
              <span class="card_subtitle">Lorem ipsum dolor sit amet</span>
              <p class="card_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
          </article> -->
      </div>
    </div>
  
    <!-- <div class="right">
        <div class="test">
          <h1>CÔNG NGHỆ THÔNG TIN</h1>
          <p>Kỹ thuật phần mềm</p>
          <p>Mạng máy tính</p>
          <p>Trí tuệ nhân tạo</p>
          <p>Quản lý thông tin</p>
          <p>Truyền thông dữ liệu</p>
        </div>
        <div class="test">
          <h1>Thiết kế - Nghệ thuật</h1>
          <p>Thiết kế đồ họa</p>
          <p>Thiết kế thời trang</p>
          <p>Thiết kế nội thất</p>
          <p>Nghệ thuật số</p>
          <p>Quan hệ công chúng</p>
        </div>
        <div class="test">
          <h1>Kinh tế - Quản trị</h1>
          <p>Quản trị kinh doanh</p>
          <p>Quản trị nhân lực</p>
          <p>Marketing</p>
          <p>Digital marketing</p>
          <p>Bất động sản</p>
        </div>
      </div> -->
</div>

<div class="modal fade" id="AddClass" tabindex="-1" role="dialog" aria-labelledby="AddClassLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">CREATE NEW CLASS</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <form [formGroup]="addStudentForm"></form> -->
          <form>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">ClassName</label>
              <div class="col-sm-10">
                <input  class="form-control"  id="inputPassword" placeholder="ClassName" formControlName="studentName">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Description</label>
              <div class="col-sm-10">
                <input  class="form-control"  id="inputPassword" placeholder="Class Description" formControlName="studentDescription">
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Choose Teacher</label>
              <select class="form-control form-control-lg" formControlName="teacher">
                <!-- <option *ngFor="let teacher of this.teacherList"   [value]="teacher._id">{{teacher.fullName}}</option> -->
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
          <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addStudent()">Add</button> -->
        </div>
      </div>
    </div>
</div>