<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Student Id</th>
      <th scope="col">Student Name</th>
      <th scope="col">Description</th>
      <th scope="col">Function</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of this.studentList| paginate: { itemsPerPage: 10, currentPage: p }">
      <th scope="row">{{this.studentList.indexOf(student)}}</th>
      <td>{{student.student.sid}}</td>
      <td>{{student.student.fullName}}</td>
      <td>{{student.student.description}}</td>
      <td>
        <input type="checkbox" [checked]="student.absence" (change)="student.absence=!student.absence">
      </td>
    </tr>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </tbody>

</table>

<button class="btn btn-primary"  (click)="saveChange()">Save Changes</button>
