<p>Tên môn:</p><p >{{this.classDetail.title || ""}}</p>
<p>Chi tiết môn:</p><p>{{this.classDetail.description}}</p>
<p>Giảng viên:</p><p>{{this.classDetail.teacher}}</p>



<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">studentId</th>
      <th scope="col">StudentName</th>
      <th scope="col">Function</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let classStudent of this.classStudentList">
      <th scope="row">{{this.classStudentList.indexOf(classStudent)}}</th>
      <td>{{classStudent.sid}}</td>
      <td>{{classStudent.fullName}}</td>


      <!-- <button type="button" class="btn btn-primary" (click)="getClassDetail(class._id)">View detail</button> -->
    </tr>

  </tbody>
</table>
