<!-- <form action="" [formGroup]="loginForm">
  <input type="text" placeholder="Tai khoan" formControlName="username">
  <input type="password" placeholder="Mat khau" formControlName="password" >
  <button type="submit" (click)="signIn()">Login</button>
</form> -->

<div class="background" style="font-family: 'Roboto Mono', monospace;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5" >
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block">
                                <img class="thumbnail" src="../../../assets/Thumbnail.jpg">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <p class="text-gray-900 mb-4 title">Attendance project </p>
                                    </div>
                                    <form class="user" (submit)="signIn()" [formGroup]="loginForm">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user inputBut" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="User name" formControlName="username">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" formControlName="password">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember me</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block loginBut">
                                            LOG IN
                                        </button>
                                        <!-- (click)="signIn()" -->
                                        <div class="logo">
                                          <img src="../../../assets/HSU2.png">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

<!-- <form action="" [formGroup]="loginForm">

  <input type="text" placeholder="Tai khoan" formControlName="username">
  <input type="password" placeholder="Mat khau" formControlName="password" >
  <button type="submit" (click)="signIn()">Login</button>

</form> -->
