<!-- <div style="background-color: red; display: flex;">
  <p>table works!</p>
  <button class="btn btn-primary" routerLink="class">CLASS</button>
  <button class="btn btn-primary" routerLink="student">STUDENT</button>
  <button class="btn btn-primary" routerLink="teacher">Teacher</button>
</div> -->
<div class="header">
  <div class="logo">
    <img src="../../../assets/HSU1.jpg" />
  </div>

  <div class="user">
    <p>{{this.auth.user.userName}}</p>
    <div class="dropdown" style="margin: auto;">
      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuOffset" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" data-offset="0,30">
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="border: solid 1px #333;">
        <a class="dropdown-item" href="#">Profile</a>
        <a class="dropdown-item" href="#">About</a>
        <a class="dropdown-item" href="#">Settings</a>
        <a class="dropdown-item" href="#" style="color: red;" (click)="this.auth.logOut()">Logout</a>
      </div>
    </div>
    <img src="../../../assets/User.png" />
  </div>
</div>

<div class="nav">
  <ul>
    <li routerLink="class" style="cursor: pointer;"><a class="text-white">HOME</a></li>
    <li routerLink="class" style="cursor: pointer;"><a class="text-white">CLASS</a></li>
    <li routerLink="student" style="cursor: pointer;"><a class="text-white">STUDENT</a></li>
    <li routerLink="teacher" style="cursor: pointer;"  *ngIf="this.auth.user.role!='teacher'"><a class="text-white">TEACHER</a></li>
  </ul>
</div>

  <router-outlet></router-outlet>
